* {
  margin: 0;
  padding: 0; 
  font-family: Montserrat;
}

html,body{
  height:100%;
  width:99%;
}

body{
  display:grid;
  grid-template-rows: 15% 1fr; 
  margin:20px;
  font-size: 130%
  
}

#header{
  display:grid;
  justify-content:center;
  align-items:center;
  margin-bottom:10px;
}

#header button{
  align-self:start;
}

#books{
  grid-row-start:2;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin-left:25px;
  gap:25px;
 
}

.book{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  background-color:lightgray;
  justify-items: center;
  align-items:center;
  height:400px;
  width:450px;
}